.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-inside-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.error-message {
  color: var(--blue);
}

.error-message > h2 {
  font-weight: bold;
}

.error-image {
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .error-image {
    width: 300px;
    height: 300px;
  }
}
